<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HotelOrderManagement</display-name>
  <welcome-file-list>
    <welcome-file>waiter.html</welcome-file>
    <welcome-file>kitchen.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>com.nik.aks.Orderinfo</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>notify</servlet-name>
    <servlet-class>com.nik.aks.Notification</servlet-class>
  </servlet>



  <servlet>
    <servlet-name>starter</servlet-name>
    <servlet-class>com.nik.aks.Starter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>vegmain</servlet-name>
    <servlet-class>com.nik.aks.Vegmain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>nonvegmain</servlet-name>
    <servlet-class>com.nik.aks.Nonvegmain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>special</servlet-name>
    <servlet-class>com.nik.aks.Special</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dessert</servlet-name>
    <servlet-class>com.nik.aks.Dessert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>drinks</servlet-name>
    <servlet-class>com.nik.aks.Drinks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>chinese</servlet-name>
    <servlet-class>com.nik.aks.Chinese</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>breads</servlet-name>
    <servlet-class>com.nik.aks.Breads</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>placeorder</servlet-name>
    <servlet-class>com.nik.aks.Placeorder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>po</servlet-name>
    <servlet-class>com.nik.aks.kitc.Pendingorders</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>do</servlet-name>
    <servlet-class>com.nik.aks.kitc.Dispalyorder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>done</servlet-name>
    <servlet-class>com.nik.aks.kitc.Done</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>up</servlet-name>
    <servlet-class>com.nik.aks.Updateinfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upd</servlet-name>
    <servlet-class>com.nik.aks.Updateorder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tabs</servlet-name>
    <servlet-class>com.nik.aks.Tabsumm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.nik.aks.login.Adminlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>staff</servlet-name>
    <servlet-class>com.nik.aks.login.Stafflogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>billprint</servlet-name>
    <servlet-class>com.nik.aks.kitc.Print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/Orderinfo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>starter</servlet-name>
    <url-pattern>/starter/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vegmain</servlet-name>
    <url-pattern>/vegmain/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>nonvegmain</servlet-name>
    <url-pattern>/nonvegmain/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>special</servlet-name>
    <url-pattern>/special/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dessert</servlet-name>
    <url-pattern>/dessert/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>drinks</servlet-name>
    <url-pattern>/drinks/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chinese</servlet-name>
    <url-pattern>/chinese/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>breads</servlet-name>
    <url-pattern>/breads/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>placeorder</servlet-name>
    <url-pattern>/placeorder/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>po</servlet-name>
    <url-pattern>/pendingorders/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>do</servlet-name>
    <url-pattern>/disporder/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>done</servlet-name>
    <url-pattern>/done/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>up</servlet-name>
    <url-pattern>/updateinfo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upd</servlet-name>
    <url-pattern>/update/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tabs</servlet-name>
    <url-pattern>/tabs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>billprint</servlet-name>
    <url-pattern>/print/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/adlogin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>staff</servlet-name>
    <url-pattern>/stlogin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>notify</servlet-name>
    <url-pattern>/noti/*</url-pattern>
  </servlet-mapping>

</web-app>